body {
    margin:0px;
    padding: 0px;
    height: 150vh;
    width:auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    color: white;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    flex:1;
}

h4 {
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
    margin-top: 5px;
}

ul {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: auto;
    padding: 0px;
    gap:25px;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    width: 270px;
    height: 270px;
    padding-left: 100px;
    flex-shrink: 0;
}

.hero-text1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text2 {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    align-self: flex-start;
    background-color:#3882f6;
    color:white;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 10px;
}

.hero-image {
    width: 500px;
    height: 250px;
    background-color: rgba(238, 238, 238, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    padding-top: 20px;
}

.body-boxes, .body-text {
    display: flex;
    justify-content:space-between;
    gap: 75px;
    width: 900px;
    padding-top: 20px;
    
}

.bb {
    border: 5px #3882f6 solid;
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.bt {
    display: flex;
    text-align:center;
    width: 150px;
    padding-bottom: 40px;
    margin-top: -20px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}

.quote-text {
    width: 900px;
    font-size: 36px;
    margin-bottom: 0px;
}

.thor {
    font-size: 18px;
    margin-top: 0px;
    width: 900px;
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coa-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 900px;
    background-color: #3882f6;
    border-radius: 5px;
}

.coa-text {
    width: 500px;
    color: white;
}

.coa-sign-up {
    border: 2px white solid;
    border-radius: 5px;
    color: white;
    background-color: #3882f6;
    padding: 5px 20px;
}
